<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Previous Status:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
		<select id="status" name="status">
	    	#foreach ($val in $statusList)
	        	<option value="${val.name}"
	                #if(${val.name.equals($selectedStatus)})
	                    SELECTED
	                #end
                >$textutils.htmlEncode(${val.name})</option>
	        #end
	        </select>&nbsp;&nbsp;&nbsp;<input type="checkbox" id="mostRecentOnly" name="mostRecentOnly" value="yes" 
	        #if ($mostRecentOnly=='yes')
	        checked="yes"
	        #end
	        >Most recent status only</input>
        <br><font size="1">Choose the previous status the issue must have been in.</font>
    </td>
</tr>
