#macro (safeSelectMapSelected $selectName $map $selectedKey)
    <select name="$selectName">
        #foreach ($entry in $map.entrySet())
            <option value="$entry.key"
            #if (${selectedKey} && ${selectedKey.equals($entry.key)})
                SELECTED
            #end
            >$textutils.htmlEncode($entry.value)</option>
        #end
    </select>
#end

<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">$i18n.getText("admin.common.words.projectrole"):</span>
    </td>
    <td bgcolor="ffffff" nowrap>
        #safeSelectMapSelected (${key} ${projectroles} ${projectrole})
        <br><font size="1">$i18n.getText("admin.workflow.condition.isuserinprojectrole.input.projectrole.to.check")</font>
    </td>
</tr>
<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
    </td>
    <td bgcolor="ffffff" nowrap>
        <input type="checkbox" id="skipIfAssignee" name="skipIfAssignee" value="yes" 
	        #if ($skipIfAssignee && $skipIfAssignee=='yes')
	        checked="yes"
	        #end
	        >Skip if Assignee</input>
	        <br><font size="1">Skip if the user selected an Assignee in the transition screen.</font>
    </td>
</tr>