<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Source Field:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
		<select id="field" name="field">
	    	#foreach ($val in $fieldList)
	        	<option value="${val.id}"
	                #if(${val.id.equals($selectedField.id)})
	                    SELECTED
	                #end
                >$textutils.htmlEncode(${val.name})</option>
	        #end
	        </select>
        <br><font size="1">Choose the field.</font>
    </td>
</tr>
